@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>Game server, designed by Alexander Galkin on top of ASP.NET MVC 4 stack</div>
<address>
    <strong>Q&A:</strong>   <a href="mailto:alexander.galkin@outlook.com">alexander.galkin@outlook.com</a><br />
</address>